.App {
	text-align: left;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid gray;
	box-shadow: 10px 3px 4px 2px rgba(0, 0, 0, 0.3);
	padding-bottom: 30px;
}

h1 {
	margin-left: 30px;
}

.form-group {
	position: relative;
	margin-left: 30px;
	margin-top: 40px;
}

.error {
	color: red;
	font-size: 16px;
	position: absolute;
	top: -30px;
	right: 20px;
}

.label {
	margin-right: 1rem;
	font-size: 20px;
}

.input {
	width: 250px;
	border: 2px solid rgb(36, 208, 99);
	padding: 0.5rem 1rem;
	border-radius: 24px;
	font-size: 16px;
}

.radio {
	margin-left: 10px;
}

.inputs {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.notification {
	display: none;
	font-size: 20px;
	color: rgb(36, 208, 99);
	margin-top: 30px;
	margin-left: 30px;
}

.notification.notification_active {
	display: block;
}

button {
	margin-top: 30px;
	margin-left: 30px;
	width: 230px;
	height: 50px;
	font-size: 18px;
	background-color: rgb(36, 208, 99);
	color: white;
	cursor: pointer;
	border-radius: 16px;
	border-color: rgb(36, 208, 99);
}

button:disabled {
	background-color: rgb(97, 93, 93);
	border: none;
}

@media (max-width: 991px) {
	.App {
		text-align: center;
	}

	h1 {
		margin-left: 0;
	}

	.notification {
		margin-left: 0;
	}

	.form-group {
		margin-left: 0;
	}

	.inputs {
		justify-content: space-between;
	}

	.inputs.inputs_born {
		flex-direction: column;
	}

	button {
		margin-left: 0;
	}
}

@media (max-width: 702px) {
	.App {
		max-width: 550px;
	}

	h1 {
		margin-right: 0;
	}

	.inputs {
		width: 100%;
		justify-content: center;
	}
}

@media (max-width: 535px) {
	.App {
		width: 95%;
	}
}
